version: 2.1

orbs:
  macos: circleci/macos@2.4.0
  
jobs:
  build:
    macos:
      xcode: 15.1.0
    resource_class: macos.m1.medium.gen1
    
    steps:
      - run: xcodebuild -version
      - run: brew --version
      - run: whoami
     # - run: 'sudo chown -R circleci: /opt'
      
      
workflows:
  say-hello-workflow:
    jobs:
      - build
